@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --clr-main: #4b33a8;
    --clr-white: #ececec;
    --clr-gray: #e2e2e2;
    --clr-red: #961818;
    --clr-main-ligth: #785ce9;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "rubik", sans-serif;
}

h1, h2, h3, h4, h5, h6, p, a, input, textarea, ul{
    margin: 0;
    padding: 0;
}

ul{
    list-style-type: none;
}

a{
    text-decoration: none;
}

.todo{
    display: grid;
    grid-template-columns: 1fr 4fr;
    background-color: var(--clr-main);
}

aside{
    padding: 2rem;
    padding-right: 0;
    color: var(--clr-white);
    position: sticky;
    top: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.logo{
    font-weight: 400;
    font-size: 1.3rem;
}

.menu{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.boton-menu{
    background-color: transparent;
    border: 0;
    color: var(--clr-white);
    cursor: pointer;
    display: flex;
    gap: 1rem;
    font-weight: 600;
    padding: 1rem;
    font-size: .85rem;
    align-items: center;
}

.boton-menu.active{
    color: var(--clr-white);
    width: 100%;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem ;
}

.boton-carrito{
    margin-top: 2rem;
}

.numero{
    background-color: var(--clr-white);
    color: var(--clr-main);
    padding: .15 .25rem;
    border-radius: .25rem;
}

.texto-footer{
    color: var(--clr-main-ligth);
}

main{
    background-color: var(--clr-gray);
    margin: 1rem;
    border-radius: 2rem;
    padding: 3rem;
    margin-left: 0;
}

.titulo-principal{
    color: var(--clr-main);
    margin-bottom: 2rem;
}

.contenedor-productos{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
}
.productos{
    display: grid;
    justify-content: center;
}

.producto--imagen{
    justify-content: center;
    max-width: 100%;
    height: 300px;
    border-radius: 1rem;
}

.producto--detalles{
    background-color: var(--clr-main);
    color: var(--clr-white);
    padding: 1rem;
    border-radius: 1rem;
    margin-top: -2rem;
    position: relative;
    gap: .25rem;
}

.producto--titulo{
    font-size: 1rem;
}

.producto--agregar{
    border: 0;
    background-color: var(--clr-white);
    padding: .5rem;
    text-transform: uppercase;
    border-radius: 2rem;
    cursor: pointer;
    border: 2px solid var(--clr-white);
    transition: background-color .25, color .25;
}

.producto--agregar:hover{
    background-color: var(--clr-main);
    color: var(--clr-white);
}

.contenedor-carrito{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.carro--vacio{
    color: var(--clr-main);
    display: none;
}

.carro--productos{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.carrito--productico{
    display: flex;
    justify-content: space-between;
    background-color: #ffffff;
    color: var(--clr-main);
    align-items: center;
    padding: .5rem;
    border-radius: 1rem;
    padding-right: 1.5rem;
}

.carro--produto--imagen{
    width: 4rem;
    border-radius: 1rem;
}

.carrito--productico small{
    font-size: .75rem;
}

.carro--producto--eliminar{
    border: 0;
    background-color: transparent;
    color: var(--clr-red);
    cursor: pointer;
}

.carro--accion{
    display: flex;
    justify-content: space-between;
}

.carro--accion-vaciar{
    border: 0;
    background-color: #ffffff;
    padding: 1rem;
    border-radius: 1rem;
    color: var(--clr-main);
    text-transform: uppercase;
    cursor: pointer;
}

.carro--accion--derecha{
    display: flex;
}

.carro--accion--total{
    display: flex;
    background-color: var(--clr-gray);
    padding: 1rem;
    border-radius: 1rem;
    color: var(--clr-main);
    text-transform: uppercase;
    gap: 1rem;
}

.carro--accion--comprar{
    border: 0;
    background-color: var(--clr-main);
    padding: 1rem;
    border-radius: 1rem;
    color: var(--clr-white);
    text-transform: uppercase;
    cursor: pointer;
}

.vacio{
    border: 0;
    background-color: #ffffff;
    padding: 1rem;
    border-radius: 1rem;
    color: var(--clr-main);
    text-transform: uppercase;
    cursor: pointer;
    width: 200px;
}


